<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Tasks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- JS -->

</head>
<body>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
<!-- End Scripts -->

  <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'tasks:index' %}" class="brand-logo center">Tasks</a>
    <!-- Правая часть нав бар -->
      <ul class="right hide-on-med-and-down">
        <li><a class="tooltipped" href="{% url 'tasks:settings' %}" data-position="bottom" data-delay="50" data-tooltip="Настройки">
            <i class="material-icons center">settings</i></a></li>
      </ul>

      {% if request.user.is_anonymous %}
        <ul id="slide-out" class="side-nav">
          <li><a href="#">Здравстуйте, Гость</a></li>
        </ul>
      {% else %}
        <!-- Меню -->
        <ul id="slide-out" class="side-nav">
          <li><a href="#">Здравстуйте, {{ request.user }}</a></li>
          <li><a href="{% url 'tasks:post_task' %}">Добавить активность</a></li>
          <li><a href="{% url 'tasks:list_tasks' %}">Список активностей</a></li>
          <li><a href="{% url 'tasks:over_time' %}">Переработка</a></li>
          <li><a href="{% url 'tasks:list_over_time' %}">Список переработок</a></li>
          <li><a href="{% url 'tasks:post_work' %}">Добавить отчет работах</a></li>
          <li><a href="{% url 'tasks:list_works' %}">Список работ</a></li>
          <li><a href="{% url 'tasks:logout' %}">Выход</a></li>
        </ul>
      {% endif %}
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>


    </div>
  </nav>

  <main>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <script src="/static/js/custom.js"></script>
  </main>

  <!-- нижний блок сайта -->
  <footer class="page-footer green stiky">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Tasks</h5>
          <p class="grey-text text-lighten-4">Данный сайт предназначен для упрощенного ведения статистики о проделанной работе сотрудников отдела эксплуатации бизнес-систем Кавказского Филиала МегаФон.</p>
          <p class="grey-text text-lighten-4">&copy; 2016-2017, Дмитрий Арефьев</p>
  </footer>

  <script>
    $('.tooltipped').tooltip({delay: 50});
  </script>


  </body>
</html>
