{% extends "tasks/list_template.html" %}

{% block list %}
<h5>Список задач:</h5>
<!-- Modal Trigger -->
<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light green btn modal-trigger right" href="#add">
        <i class="material-icons">add</i>
    </a>
</div>
<!-- Modal Structure -->
<div id="add" class="modal modal-fixed-footer">
    <!-- Форма добавления задания -->
    <form class="col s12" id="form" action="{% url 'tasks:add_to_do' %}" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s6">
                    <input id="target" name="target" type="text" class="validate" value="{{ request.POST.target }}">
                    <label for="target">Что сделать?</label>
                </div>
                <div class="input-field col s6">
                    <input id="reason" name="reason" type="text" class="validate" value="{{ request.POST.reason }}">
                    <label for="reason">Основание (CLM, IM, письмо)</label>
                </div>
            </div>  
            <div class="row">
                <div class="col s6">
                    <label for="calendar">Дата возникновения</label>
                    <input id="startdate" name="startdate" type="date" class="datepicker" value="{{ request.POST.startdate }}">
                </div>
                <div class="col s6">
                    <label for="calendar">Выполнить до</label>
                    <input id="enddate" name="enddate" type="date" class="datepicker" value="{{ request.POST.enddate }}">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light green center tooltipped" type="submit" name="action"
                data-position="bottom" data-delay="50" data-tooltip="Добавить запись">
                <i class="material-icons">note_add</i>
            </button>
        </div>
    </form>
</div>
            
<div id="all_tasks" class="col s12">
    <!-- Форма отображения и редактирования -->
    <form class="col s12" id="form" action="{% url 'tasks:edit_to_do' %}" method="post">
        {% csrf_token %}
        <!-- здесь сделать вывод динамической таблицы данных -->
        <ul>
            {% if entries %}
                <div class="row">
                    <table class="striped bordered responsive-table centered">
                        <thead>
                            <tr>
                                <th data-field="target">Что сделать</th>
                                <th data-field="reason">Основание</th>
                                <th data-field="reason">Дата возникновения</th>
                                <th data-field="reason">Выполнить до</th>
                                <th data-field="done">Выполнено</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for e in entries %}
                                <tr>
                                    <td id="{{ e.target }}" name="{{ e.target }}" value="{{ request.POST.e.target }}">
                                        {{ e.target }}
                                    </td>
                                    <td id="{{ e.reason }}" name="{{ e.reason }}" value="{{ request.POST.e.reason }}">
                                        {{ e.reason }}
                                    </td>
                                    <td id="{{ e.startdate }}" name="{{ e.startdate }}" value="{{ request.POST.e.startdate }}">
                                        {{ e.startdate }}
                                    </td>
                                    <td id="{{ e.enddate }}" name="{{ e.enddate }}" value="{{ request.POST.e.enddate }}">
                                        {{ e.enddate }}
                                    </td>
                                    <td>
                                        <p class="center-align">
                                            <input type="checkbox" class="filled-in" id="{{ e.target }}_checkbox" name="{{ e.target }}_checkbox" value="{{ request.POST.e.target_checkbox }}"/>
                                            <label for="{{ e.target }}_checkbox"></label>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
        </ul>
        <div class="row">
            <button class="btn waves-effect waves-light green right tooltipped" type="submit" name="action"
                data-position="bottom" data-delay="50" data-tooltip="Добавить?">
                <i class="material-icons">note_add</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
