{% extends "tasks/base.html" %}

{% block content %}

<div id="intro" class="section scrollspy">
    <div class="container">
      <div class="section">
        <h5>Добавить информацию о работах</h5>
        {% if entry_saved == 1 %}
            <script>
              Materialize.toast('Запись добавлена.', 4000)
            </script>
        {% elif entry_saved == 0 %}
            <script>
              Materialize.toast('Запись не добавлена', 4000)
            </script>
        {% endif %}
        <div class="row">
            <form class="col s12" id="form" action="{% url 'tasks:post_work' %}" method="post">
            {% csrf_token %}
            	<div class="row">
                    <div class="input-field col s6">
                        <input id="number" name="number" type="text" class="validate" value="{{ request.POST.number }}" length="9">
                        <label for="number">Номер</label>
                    </div>
                    <div class="col s2">
                        <label for="calendar">Дата</label>
                        <input id="calendar" name="calendar" type="date" class="datepicker" value="{{ request.POST.calendar }}">
                    </div>
                </div>
                <div class="switch">
				    <label >
				      LG
				      <input id="switch_field" name="switch_field" type="checkbox" value="{{ request.POST.switch_field }}">
				      <span class="lever"></span>
				      GF
				    </label>
				</div>

				<div class="row">
                    <div class="input-field col s12">
                        <textarea id="installed" name="installed" class="materialize-textarea" value="{{ request.POST.installed }}"></textarea>
                        <label for="installed">Установлено</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="restarted" name="restarted" class="materialize-textarea" value="{{ request.POST.restarted }}"></textarea>
                        <label for="restarted">Перезапущено</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="passwords" name="passwords" class="materialize-textarea" value="{{ request.POST.passwords }}"></textarea>
                        <label for="passwords">Сменены пароли</label>
                    </div>
                </div>

                <div class="row">
			        <div class="input-field col s12">
			          <input id="log_dirs" name="log_dirs" type="text" class="validate" value="{{ request.POST.log_dirs }}">
			          <label for="log_dirs">Логи</label>
			        </div>
			    </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="problems" name="problems" class="materialize-textarea" value="{{ request.POST.problems }}"></textarea>
                        <label for="problems">Выявленные проблемы</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <div class="section">
                            <h6>Проверка работоспособности</h6>
                            <div class="col s4">
                                <p>
                                  <input type="checkbox" id="call_CC" name="call_CC" value="{{ request.POST.call_CC }}">
                                  <label for="call_CC">Звонок в КЦ</label>
                                </p>
                            </div>
                            <div class="col s4">
                                <label for="timepicker">Время</label>
                                <input id="timepicker" name="time_CC" class="timepicker" type="time" value="{{ request.POST.time_CC }}">
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="section">
                            <h6>Оповещения о работах</h6>
                            <div class="col s4">
                                <p>
                                  <input type="checkbox" id="whatsapp" name="whatsapp" value="{{ request.POST.whatsapp }}">
                                  <label for="whatsapp">WhatsApp</label>
                                </p>
                            </div>
                            <div class="col s4">
                                <p>
                                  <input type="checkbox" id="sms" name="sms" value="{{ request.POST.sms }}">
                                  <label for="sms">Sms</label>
                                </p>
                            </div>                            
                        </div>
                    </div>                    
                </div>
			    

			    <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comment" name="comment" class="materialize-textarea" value="{{ request.POST.comment }}"></textarea>
                        <label for="comment">Комментарий</label>
                    </div>
                </div>
                
                <div class="row">
                    <button class="btn waves-effect waves-light green right tooltipped" type="submit" name="action"
                        data-position="bottom" data-delay="50" data-tooltip="Добавить?">
                        <i class="material-icons">note_add</i>
                    </button>
                </div>
            </form>
        </div>

      </div>
    </div>
</div>

{% endblock %}
